name: CD

on:
  push:
    branches:
      - main

jobs:
  train-and-register:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Train on full data with MLflow
        env:
          DATA_MODE: full
          DATA_PATH: data/full.csv
          ENABLE_MLFLOW: true
          MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
        run: |
          python src/train.py \
            --data-path data/full.csv \
            --metric accuracy
